<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<properties resource="db.properties"></properties>
 	
 	<typeAliases><!--별칭 쓰는 것 mapper에서 user라고 간편히 쓸려고  -->
 		<typeAlias type ="member.bean.MemberDTO" alias="member" />	
 		<typeAlias type ="board.bean.BoardDTO" alias="board" />
 	</typeAliases>
 
 
 	<environments default="development">
 		<environment id="development">
 			<transactionManager type="JDBC" />
 			<dataSource type="POOLED">
 			<property name ="driver" value="${jdbc.driver}"/>
 			<property name = "url"  value="${jdbc.url}"/>
 			<property name = "username"  value="${jdbc.username}"/>
 			<property name = "password"  value="${jdbc.password}"/>
 		 </dataSource>
 		</environment>
 	</environments>
 	
 	
 	<mappers> <!--resource(자원)의 위치는 .으로 찾으면 절대 못찾음 그래서 /로 알려줘야함 그리고 mapper파일 여러개 만들 수 있음  -->
 		<mapper resource ="member/dao/memberMapper.xml"/>
 		<mapper resource ="board/dao/boardMapper.xml"/>
 	</mappers>
 	
 </configuration>